click~=8.1

# numpy higher version need python>=3.10 (not 3.9)
numpy>=1.26.4,<=2.0.1

contourpy>=1.0.0,<=1.3.0

# psutil 6.0.0, ok
psutil>=5.9.0,<=6.0.0
packaging>=21.0

qgate_graph==1.4.13

coverage>=7
coverage-badge>=1
pympler==1.0.1